@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap');

:root {
  --primary: #f77f00;
  --text: #edf2f4;
  --background: #171717;
  --text-rgb: 237, 242, 244;
  --background-rgb: 17, 17, 17;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  color: var(--text);
}

html, body {
  min-width: 100vw;
  min-height: 100vh;
  font-size: 18px;
  font-family: 'Nunito', sans-serif;
  background-color: var(--background);
  background-image:
    linear-gradient(rgba(var(--background-rgb), 0.5), rgba(var(--background-rgb), 0.9)),
    url('@/assets/images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.App {
  & .App_Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.5rem 0;
    border-bottom: 2px solid rgba(var(--text-rgb), 0.1);

    & .Header_logo {
      display: flex;
      align-items: center;

      & .logo_title {
        display: flex;
        font-weight: 800;
        margin-left: 0.75rem;
  
        & .title_first-segment {
          font-size: 2.5rem;
        }
  
        & .title_second-segment {
          font-size: 2.5rem;
          color: var(--primary);
        }
      }
    }

    & .Header_search {
      display: flex;
      height: 2.5rem;
      border-radius: 5px;
      background: var(--background);

      & .search_input {
        min-width: 300px;
        height: 100%;
        padding: 0.9rem;
        font-size: 0.8rem;
        background: none;
      }

      & .search_button {
        padding: calc((2rem - 18px) / 2) 0.9rem;
        background: none;
        cursor: pointer;

        & .button_icon {
          width: 18px;
          fill: var(--text);
        }
      }
    }
  }
}
